__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

env/

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

log/
logs/
archive/
sandbox/
sb/
test/

.env
.env.*
.env.*.*
.env.*.*.*
.env.*.*.*.*
.env.*.*.*.*.*
